.search{
    background-color: white;
    border-radius: 30px;
    width: 100%;
    padding: 5px 20px;

    &:first-child{
        font-size: 20px;
    }

    &__input{
        margin-left: 10px;
        border-style: none;
        font-size: 18px;
        text-align: center;
        width: 90%;

        &:focus{
            outline: none;
        }   
    }
}