.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 36px;
}

.year_month {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 900;
}

.prev_next {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;

    &>button {
        background-color: white;
        border: none;
        cursor: pointer;
    }
}