@import "../../color.scss";

.sign-in {
    &__error{
        margin: 30px auto;
    }

    &__submit {
        border-radius: 0px 0px 50px 50px;
        background-color: $confirm-color;
    }
    
    &__left {
        position: absolute;
        float: left;
        left: 10%;
    }

    &__right {
        position: absolute;
        float: right;
        right: 10%;
    }
}