.main__search-input{
    
    &__input-container {
        width: 80%;
        margin: auto;
        padding: 10px;
        display: flex;

        &__box{
            width: 80%;
            position: relative;

            .search-icon{
                top: 8px;
                left: 12px;
                font-size: 23px;
                position: absolute;
            }
            
            input{
                width: 100%;
                border-radius: 30px;
                border: none;
                font-size: 20px;
                padding: 5px 20px;
                text-align: center;
            }
            
        }
        select{
            display: inline-block;
        }

        input{
            display: inline-block;
        }
    }

    &__tag-container{
        width: fit-content;
        height: fit-content;
        margin: -5px auto 5px auto;
    }
}