.sign-up{
    height: 680px; 

    &__error{
        margin: 30px auto;
    }

    &__next-button{
        border-radius: 0px 0px 50px 50px;
    }

    &__login-button{
        margin: 20px 0px 0px 20px;
    }
}